* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    font-size:62.5%;
}

body {
    font-family: sans-serif;
    font-weight:400;
    line-height: 1.4;
    font-size: 1.6rem;
    color:#1c1d1f;
}

.ud-header {
    box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
    z-index: 1010;
}

.header--mobile-header--1QEyl {
    /* display: none; */
}

.header--mark--3yOX2 {
    position:relative;
    top:0;
}

.header--header--33tMC {
    background:#fff;
    height:5.6rem;
    padding:0.4rem;
    position:relative;
    z-index:1010;
}

.header--row---gua9 {
    display: flex;
    align-items:center;
}

.header--button-spacer--PESOw {
    width: 4.8rem;
    height: 4.8rem;
    visibility: hidden;
}

.ud-btn-icon-large, .udlite-btn-icon-large {
    padding:0 1.2rem;
    width:4.8rem;
}

.ud-btn-icon, .udlite-btn-icon {
    min-width: auto;
}

.ud-btn-ghost, .udlite-btn-ghost, .ud-btn-ghost.ud-btn-disabled, .udlite-btn-ghost.udlite-btn-disabled, .ud-btn-link, .udlite-btn-link, .ud-btn-link.ud-btn-disabled, .udlite-btn-link.udlite-btn-disabled {
    color: #5624d0;
    background-color: transparent;
    min-width: auto;
    padding: 0;
}

.ud-btn-large, .udlite-btn-large {
    height: 4.8rem;
}

.ud-btn, .udlite-btn {
    position:relative;
    align-items: center;
    border: none;
    cursor:pointer;
    display: inline-flex;
    min-width:8rem;
    padding: 0 1.2rem;
    justify-content:center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
}

.ud-heading-md, .udlite-heading-md {
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.6rem;
} 
button, input {
    background-image: none;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.header--button-spacer--PESOw {
    width:4.8rem;
    height:4.8rem;
    visibility:hidden;
}

.header--middle--SkMQl {
    flex: 1;
    justify-content: center;
}

#header-toggle-search-bar[data-checked='']~.header--search-bar-layer--V7PsO {
    display: none;
}

.header--search-bar--2rQ3t {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 1011;
}

.header--search-bar-close--1YT2F {
    position: absolute;
    top: .4rem;
    right: .4rem;
    z-index: 1;
}

.ud-sr-only, .udlite-sr-only {
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}

.header--search-bar--2rQ3t .header--search-bar-form--1IPCf {
    padding: .4rem 5.6rem .4rem .4rem;
    max-width: none;
    border-bottom: 1px solid #d1d7dc;
}

.ud-search-form-autocomplete {
    position: relative;
}

.ud-form-group, .udlite-form-group {
    min-width: 18rem;
    max-width: 60rem;
}

.ud-form-label, .udlite-form-label {
    display: flex;
    align-items: center;
    margin: 0;
    padding-bottom: .8rem;
    min-height: 2.8rem;
}

.ud-heading-sm, .udlite-heading-sm {
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.4rem;
}

.ud-search-form-autocomplete-input-group-reversed {
    flex-direction: row-reverse;
}

.ud-search-form-autocomplete-input-group {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2.4rem 0 0;
}

input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}

input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.ud-search-form-autocomplete-input-group-reversed .ud-search-form-autocomplete-input {
    padding: 0 0 0 .4rem;
}

.ud-search-form-autocomplete .ud-search-form-autocomplete-input {
    border: 0;
    flex: 1;
}

.ud-text-input-large, .udlite-text-input-large {
    height: 4.8rem;
}

.ud-text-input, .udlite-text-input {
    border: 1px solid #1c1d1f;
    border-radius: 0;
    -webkit-appearance: none;
    display: block;
    padding: 0 1.6rem;
    width: 100%;
}

.ud-text-md, .udlite-text-md {
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
}

button, input {
    background-image: none;
}

.ud-btn.ud-btn-disabled, .udlite-btn.udlite-btn-disabled {
    cursor: not-allowed;
    opacity: .5;
}

.ud-btn-ghost, .udlite-btn-ghost, .ud-btn-ghost.ud-btn-disabled, .udlite-btn-ghost.udlite-btn-disabled, .ud-btn-link, .udlite-btn-link, .ud-btn-link.ud-btn-disabled, .udlite-btn-link.udlite-btn-disabled {
    color: #5624d0;
    background-color: transparent;
    min-width: auto;
    padding: 0;
}

button:disabled {
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

.side-drawer--dialog-container--3gzS7 {
    position: absolute;
}

.full-page-overlay--full-page-overlay--6nQO3 {
    background: rgba(28,29,31,.8);
    left: 0;
    opacity: 0;
    transform: scale(0);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 100ms linear,transform 0ms linear 100ms;
    z-index: 1030;
    margin: 0;
}

.ud-btn-link, .udlite-btn-link {
    height: auto;
    text-align: left;
    vertical-align: baseline;
    white-space: normal;
}

.ud-heading-md, .udlite-heading-md {
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.6rem;
}

element.style {
    display: none;
}

.side-drawer--side-left--3Akhw {
    left: 0;
    transform: translateX(-34.4rem);
}

.side-drawer--side-drawer--1QXis {
    display: block;
    position: fixed;
    top: 0;
    width: 28rem;
    max-width: 78%;
    height: 100%;
    background: #fff;
    z-index: 1030;
    transition: transform 150ms cubic-bezier(.2,0,1,.9);
}

.side-drawer--drawer-container--3EpwM {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip: rect(auto,auto,auto,auto);
    opacity: 0;
    transition: opacity 150ms linear;
}

.side-drawer--main-drawer-checkbox--1v4Wv[data-checked='']~.side-drawer--side-drawer--1QXis .side-drawer--close-btn---CqE2, .side-drawer--main-drawer-checkbox--1v4Wv[data-checked='']~.side-drawer--side-drawer--1QXis .side-drawer--drawer-content--3yx-a, .side-drawer--drawer-radio--ZYUc8[data-checked='']+.side-drawer--side-drawer--1QXis>.side-drawer--drawer-content--3yx-a, .side-drawer--drawer-radio--ZYUc8[data-checked='']+.side-drawer--side-drawer--1QXis>.side-drawer--drawer-container--3EpwM>.side-drawer--drawer-content--3yx-a {
    visibility: hidden;
    transition: visibility 0ms linear 150ms;
}

.side-drawer--drawer-content--3yx-a {
    height: 100%;
    overflow: auto;
    padding-bottom: 3.2rem;
}

.ud-sr-only, .udlite-sr-only {
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}

.ud-heading-lg, .udlite-heading-lg {
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.9rem;
}

p, h1, h2, h3, h4, h5, h6, ul, ol {
    font-size: inherit;
    font-weight: 400;
    max-width: 60rem;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.mobile-nav--nav-section--3DpUb.ud-block-list {
    padding: 0.8rem 0;
}

.ud-unstyled-list, .unstyled-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: none;
}

ul, ol {
    padding-left: 2.4rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.mobile-nav--nav-section--3DpUb~.mobile-nav--nav-section-heading--3GOWL, .mobile-nav--nav-section--3DpUb+.mobile-nav--nav-section--3DpUb {
    border-top: 1px solid #d1d7dc;
}

.mobile-nav--nav-section-heading--3GOWL {
    color: #6a6f73;
    padding: 1.6rem 1.6rem 0;
    margin-bottom: -.4rem;
}

.ud-heading-sm, .udlite-heading-sm {
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.4rem;
}

.ud-unstyled-list li, .unstyled-list li {
    padding-left: 0;
}

li {
    padding-left: .8rem;
}

.ud-unstyled-list li+li, .unstyled-list li+li {
    margin-top: 0;
}

li+li {
    margin-top: .4rem;
}




