* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    background-color: white;
    font-family: sans-serif;
}


.logo {
    height:100%;
    max-width: 100%;
}

.logo-holder {
    width:100px;
    height:auto;
}

header {
    width:100%;
    height:9vh;
}

.navbar {
    position:sticky;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2.5rem 2.5rem;
    height:100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid grey;
}

.navbar__nav__items {
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: space-evenly;
}


.head__cat {
    color: black;
    background:transparent;
    border: none;
    text-decoration: none;
    font-size: smaller;
}

.head__bus {
    color: black;
    background:transparent;
    border: none;
    text-decoration: none;
    font-size: smaller;
}


.head__cart {
    color: black;
    background:transparent;
    border: none;
    text-decoration: none;
    width:25px;
    height:auto;
}

.head__teach {
    color: black;
    background:transparent;
    border: none;
    text-decoration: none;
    font-size: smaller;
}
 .navbar__nav__items a:hover {
    color:rgb(125, 25, 218);
    border-bottom: 2px solid var(--secondary-color);
}

.head__search__input {
    padding: 0 0 0 0.4rem;
    background:transparent;
    border: 1px solid black;
    height:3rem;
    border-radius: 60px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    width:42rem;
    
}

.head__button__container {
    display: flex;
    gap:3px;
}

input {
    text-rendering:auto ;
    writing-mode:horizontal-tb;
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow:none;
    text-align: start;
    cursor: text;
    color: #1c1d1f;
}

.head__world {
    width:20px;
    border: 1px solid black;
}

.head__but__log {
    padding: 0 0 0 0.4rem;
    background:white;
    border: 1px solid black;
    height:3rem;
    text-align: center;
    width:6rem;
}

.head__but__sign {
    padding: 0 0 0 0.4rem;
    background:black;
    color: white;
    border: none;
    height:3rem;
    text-align: center;
    width:6rem;
}

.head__but__world {
    padding: 0 0 0 0.4rem;
    background:white;
    border: 1px solid black;
    height:3rem;
    align-items: center;
    justify-content: center;
    width:2.5rem;
    padding-top:8px;
    padding-left:-15px
}

.section1 {
    width:90vh;
    position: relative;
}
.section1__image {
    width:1350px;
    height:auto;
    margin-left: 100px;
    margin-top: 4px;
}

.section1__image1 {
    width:100%;
    height:100%;
}


.section1__cyber {
    position:absolute;
    top:100px;
    left:200px;
    background-color: white;
    padding:15px;
    line-height:2.3rem;
    font-size: 1.3rem;;
}

.section1__p {
    padding-top: 1rem;
    line-height: 1.4rem;
}

.section__2__container {
    padding: 2rem 7rem;
}

.section__2__container > h3 {
    font-size: 1.6rem;
}

.checked {
    color:orange;
}

.section__2__container a {
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.section__2__div {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.section__2__container > p {
    padding-top: 1rem;
}

.career__container {
    width:150vh;
    border:1px solid grey;
    padding:3rem;
    margin: 0.2rem 6rem;
    box-shadow: #3e4143;
}

.career__container__p {
    margin-top: 0.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.8rem;
}

.career__container button {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 1.5rem;
}

.explore__container {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    font-weight: 700;
}

.explore__container a {
    text-decoration: none;
    color:black;
    word-spacing: 0.2rem;
}

.explore__container p {
    font-weight: 200;
    color:grey;
    font-size: 0.85rem;
}

.explore {
    display:flex;
    gap:10px;
}

.explore__container img{
    border:1px solid grey;
}
.span1 {
    color:rgb(177, 117, 6);
}

.span2 {
    color:grey;
}

.span3 {
    color:grey;
    text-decoration: line-through;
}

.top__category__container {
    width:100%;
    height:90vh;
    background-color: white;
    color:black;
    padding:5rem  8rem;
}

.top_category__container__h2 {
    margin: 2rem 0;
}

.cat__image__container {
    width:300px;
    height:Auto;
}

.cat__images {
    width:100%;
    height:100%;
}

.cat__images__tag__container {
    margin-top: 10px;
}

.cat__images__tag {
    margin-top:100px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.cat1 {
    display: flex;
    flex-direction: column;
}

.category1__container {
    display:flex;
    gap:30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


.feature__topics {
    width:100%;
    height:60vh;
    margin-top: 10rem;
    background-color: rgb(250, 250, 250);
}

.feature__topics > h4 {
    margin-left: 7rem;
    padding-top: 3rem;
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 1.8rem;

}

.feature__format__p1 {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 1.8rem;
}

.feature__format__a {
    font-weight: 600;
    font-size: 1rem;
    color: rgb(47, 47, 223);
}

.feature__format__p {
    padding-top: 0.7rem;
}

.feature__format__a:hover {
    color: rgb(9, 4, 110);
}

.feature__format {
    padding-top: 1.2rem;;
}

.feature__spacing {
    padding-bottom: 2rem;
}

.feature__topics__container {
    display: flex;
    gap:11rem;
    padding: 3rem;
    padding-top: 0rem;
    justify-content: left;
    justify-items: center;
    align-items: center;
    margin-left: 4rem;
}

.feature__but1 {
    padding:0.7rem;
}

.feature__but2 {
    padding:0 6.8rem;
}

.partner__container {
    width:100%;
    height:22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top:10rem;
    gap:10px
}

.partner__container > h3 {
    font-size: 1.5rem;
}

.partner__container__pictures {
    display:flex;
    gap:120px;
}


.team__container {
    width:100%;
    height:62vh;
    background-color:white;
    display:flex;
    gap:70px;
    align-items: center;
    justify-content: center;
}

.team__pic__container {
    width:400px;
    height: auto;
}

.team__pic {
    width:100%;
    height:100%;
}

.team__description__container {
    display: flex;
    align-items: center;
    gap:5px;
}

.team__description {
    font-weight: 600;
    font-size: 1.4rem;
    color:rgba(144, 20, 144, 0.899)
}

.team__h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.team__p2__container {
    display: flex;
    gap:10px;
}

.team__p21 {
    background-color: #1c1d1f;
    color: white;
    padding: 10px 12px;
}

.team__p22 {
    background-color: white;
    color: black;
    border:1px solid black;
    font-size: 1rem;
    padding: 10px 10px;
    
}

.team__list__benefit {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left:20px;
    line-height: 1.6rem;
    font-size: 1rem;
}

.instructor__container {
    width:100%;
    height:62vh;
    background-color:white;
    display:flex;
    gap:70px;
    align-items: center;
    justify-content: center;
}

.instructor__pic__container {
    width:400px;
    height: auto;
}

.instructor__pic {
    width:100%;
    height:100%;
}

.instructor__h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.instructor__p1 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.instructor__p2 {
    font-size: 1.3rem;
    color: white;
    background-color: black;
    padding:1rem 0;
}

.instructor__p2__container {
    width:11.6rem;
    margin-bottom: 25px;
}

.footer__container {
    width: 100%;
    height:350px;
    background-color: black;
    border-top:1px solid #3e4143;
    margin-top: 0px;
    color: white;
    display:flex;
    justify-content: space-between;
}

.footer__container1 {
    display: flex;
    flex-direction: column;
    padding:15px;
    gap:3rem;
}

.footer__container__sub11 {
    display:flex;
    gap: 140px;
}

.footer__container__sub11 li {
    list-style: none;
}

.footer__container__sub11 ul {
    padding:15px;
    line-height: 2rem;
    font-size: small;

}

.footer__container__sub21 {
    padding: 15px;
    padding-bottom:60px;
}

.footer__container__sub21 {
    position:relative;
    width:15px;
}

.footer__world {
    width:15px;
    position:absolute;
    top:25px;
    left:25px;
}

.footer__container2 {
    align-items: right;
    padding: 15px;
    margin-right: 50px;
}

.footer__english {
    padding:10px 40px;
    background-color: black;
    color:white;
    border:1px solid white;
}

.footer__container__sub22 {
    font-size:x-small;
    margin-top: 150px;
    margin-right: 60px;
    background-color: red;
    padding:10px 40px;
}

